*{
    margin: 0;
    padding: 0;
}
.home-container{
    width: 90%;
}

.ticket_container{
    display: flex;
    transform: scale(0.8);
    border-radius: 5px;
    background-color: white;
    padding: 50px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 0px;
}

.bus_container{
    width: 50%;
    padding: 20px 30px;
    
}
.wrapper-right{
    background-color: white;
    padding: 40px 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right-container{
    width: 40%;

}
.right-container .info{
    // margin-top: 140px;
}


.bus_layout{
    width: 50%;
    margin: 10px auto;
    background-color: rgb(241, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
    border-radius: 10px;
    margin-top: 30px;
}

.front_layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.seat{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.seat span{
    border-radius: 3px;
    cursor: pointer;
}

.seat_layout{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.c{
    font-size: 12px;
}
@media only screen and (min-width: 240px) and (max-width: 720px) {
    .home-container{
        width: 90%;
        margin-top: -100px;
        padding-top: 40px;
    }
    .caption-tour{
        font-size: 13px;
    }
    
    .ticket_container{
        display: block;

    }
    
    .bus_container{
        width: 90%;
        padding: 20px 30px;
        
    }

    .t_amount{
        font-size: 18px;
    }

    .right-container{
        width: 100%;
    
    }

    .wrapper-right{
        transform: scale(0.9);
    }
    
    .bus_layout{
        width: 90%;
        margin: 10px auto;
        background-color: rgb(241, 240, 240);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 30px;
        border-radius: 10px;
        margin-top: 30px;
    }
}